aliyun-python-sdk-core==2.13.15
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-kms==2.10.1
certifi==2020.4.5.1
chardet==3.0.4
cos-python-sdk-v5==1.7.8
crcmod==1.7
dicttoxml==1.7.4
idna==2.9
jmespath==0.9.5
oss2==2.9.1
pycryptodome==3.9.7
requests==2.23.0
six==1.14.0
sortedcontainers==2.1.0
urllib3==1.25.8
